<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SunXing : Home</title>
        <link rel="icon" type="image/icon" href="{% static 'images/tabicon.ico' %}">

        <link rel="stylesheet" type="text/css" href="">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'images/logo.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        
    </head>

    <body>
        <div id="index">                                           <!-- Index starts here -->
            <div class="container main">
                <div class="row home">
                    <div id = "index_left" class="col-md-6 left">
                        <img class="img-responsive img-rabbit" src="{% static 'images/home.jpg' %}">
                    </div>
                    <div id = "index_right" class="col-md-6 text-center right">
                        <div class="logo">
                            <img src="{% static 'images/logo.png' %}">
                            <h4>I am SUN</h4>
                        </div>
                        <p class="home-description">
                            Hi~ o(*￣▽￣*)ブ, 我叫孙兴, 今年22岁，毕业于内蒙古农业大学（毕业于2018年6月）是一名Python工程师。个人认为“代码是现实生活中最强大的魔法”。
                        </p>
                        <div class="btn-group-vertical custom_btn animated slideinright">
                            <div id="about" class="btn btn-rabbit">我的信息</div>
                            <div id="work" class="btn btn-rabbit">工作履历</div>
                        </div>      
                        <div class="social">
{#                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>#}
                            <a href="https://weibo.com/5235453355/profile?topnav=1&wvr=6"><i class="fa fa-weibo" aria-hidden="true"></i></a>
{#                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>#}
                        </div>
                    </div>
                </div>

                
            </div>
        </div>                                                      <!-- index ends here -->

        <div id="about_scroll" class="pages ">                      <!-- about strats here  -->
            <div class="container main">
                <div class="row">
                    <div class="col-md-6 left" id="about_left">
                        <img class="img-responsive img-rabbit" src="{% static 'images/about.jpg' %}">
                    </div>

                    <div class="col-md-6 right" id="about_right">
                        <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回 </a>
                        <div id="watermark">
                            <h2 class="page-title" text-center>关于我</h2>
                            <div class="marker">a</div>
                        </div>
                        <p class='subtitle'>Hi,我是孙兴. Pyton服务端研发者。
                        </p>
                        <p class="info">"代码是这个世界上最强大的魔法，我一直深信这一点。想通过代码从而做一些有意义的事情。 我热爱编程喜欢编程，喜欢学习新鲜的东西。想通过代码做的产品服务用户，从而找到自己的价值。"</p>
                    </div>
                </div>
            </div>            
        </div>                                                                <!-- About ends here -->

        
        <div id="work_scroll" class="pages">                                  <!-- Work starts here -->
            <div class="container main">
                <div class="row">
                    <div class="col-md-6" id="work_left">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            <div class="item"><img class="img-responsive img-rabbit" src="{% static 'images/work.jpg' %}"></div>
                            <div class="item"><img class="img-responsive img-rabbit" src="{% static 'images/home.jpg' %}"></div>
                            <div class="item"><img class="img-responsive img-rabbit" src="{% static 'images/contact.jpg' %}"></div>
                        </div>
                    </div>

                    <div class="col-md-6" id="work_right">
                        <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回 </a>
                        <div id="watermark">
                            <h2 class="page-title" text-center>工作履历</h2>
                            <div class="marker">工</div>
                        </div>
                        <p class='subtitle'>这些是我的一些工作项目与作品.
                        </p>
                        <p class="info"> 毕业设计：基于web端的医疗管理系统（django框架）
                            <br> 实习：2017年12月---2018年4月18日：北京南天信息股份有限公司  <br>工作内容：为中国建设银行武汉数据服务中心做运维与测试。
                            <br>工作：2018年6月---至今：北京南天信息股份有限公司 工作内容：为本公司ERP系统开发与运维（基于odoo框架），SDN项目。
                        </p>
                    </div>
                </div>
            </div>    
        </div>                                                                 <!-- Work ends here  -->


                                                                  <!-- Contact ends here -->
        
        <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>